
  
  .contact-form {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .form-container {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    max-width: 800px;
  }
  
  form {
    display: flex;
    gap: 20px;
  }
  
  .left-section,
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
  }
  
  input,
  textarea {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 60px;
    margin-bottom: 25px; 
    outline: none;
    /* margin: 20px; */
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  input:focus,
  textarea:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px #4caf50;
  }
  
  textarea {
    flex: 1;
    resize: none;
  }
  
.contact-form button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    align-self: flex-start; 
  }
  
  .contact-form button:hover {
    background: #45a049;
    box-shadow: 0 0 15px #4caf50;
  }
  
 
   