.container-resume {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    max-width: 800px;
  }